VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-public-key
RECEIVER_EMAIL=your-email
SUPABASE_URL=your-supabase-url
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
EMAIL_USER=your-email-user-name
EMAIL_APP_PASSWORD=your-email-app-password